@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom neon glow */
/* src/index.css */


.text-neonGreen {
  color: #39FF14;
  text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14;
}

.border-neonGreen {
  border-color: #39FF14;
  box-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14;
}

.hover-bg-neonGreen:hover {
  background-color: #39FF14;
  color: black;
}
